* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
  font-weight: 400;
  background: url(img/mendoza-ilustracion.png);
  background-position: center;
  background-size: cover;
}

nav {
  width: 100vw;
  padding: 10px;
  background-color: #fff;
}

.logo {
  padding: 8px;
  float: left;
}

.logo a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 38px;
  letter-spacing: -3px;
}
.logo a span {
  font-weight: 200;
}

nav-info ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.nav-info ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-info li {
  flex-grow: 1;
}

.nav-info a {
  font-weight: 600;
  font-size: 1rem;
}

button {
  cursor: pointer;
  width: 66px;
  height: 40px;
  border: none;
  background-color: purple;
  border-radius: 18px;
  color: aliceblue;
  font-weight: 600;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #fff;
  color: blueviolet;
}
